In [1]:
import numpy as numpy
import matplotlib.pyplot as plt 
import pandas as pd

In [8]:
import feets.preprocess
from scipy import stats
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import feets
from ipykernel import kernelapp as app
import os



script_dir = os.path.dirname('Results/')
results_dir = os.path.join(script_dir, 'Images/')

if not os.path.isdir(results_dir):
    os.makedirs(results_dir)

In [9]:
url = "https://raw.githubusercontent.com/MachineLearningUniandes/MANTRA/master/data/lightcurves/transient_lightcurves.csv"
url1 = 'https://raw.githubusercontent.com/MachineLearningUniandes/MANTRA/master/data/lightcurves/transient_labels.csv'
url2 = 'https://raw.githubusercontent.com/MachineLearningUniandes/MANTRA/master/data/lightcurves/transient_info.txt'
transient_lc = pd.read_csv(url)
transient_labels = pd.read_csv(url1)
transient_info = pd.read_table(url2,skiprows=1,names=['CRTS_ID' ,'RA' ,'Dec','UT_Date','Mag','CSS_images' ,'SDSS',
                                                      'Others' ,'Followed' ,'Last','LC','FC','Classification'])

transient_info.head()

,CRTS_ID,RA,Dec,UT_Date,Mag,CSS_images,SDSS,Others,Followed,Last,LC,FC,Classification
0,CSS120828:000010-215515,0.04323,-21.92087,20120828.38,17.02,1208280210014111715,no,11171,no,2016-10-22,11171,yes,Var
1,CSS100910:000025+332543,0.10280,33.42861,20100910.42,15.85,1009101320014148188,yes,14818,no,2016-11-05,14818,yes,"CV SDSS mag 20,5"
2,CSS101127:000130+050624,0.37695,5.10657,20101127.21,15.68,1011271040014129121,no,12912,yes,2016-11-06,12912,yes,"CV mag 20,0"
3,CSS160709:000132+211336,0.38474,21.22680,20160709.45,17.21,1607091210014124380,yes,12438,no,2016-11-05,12438,yes,Blazar CRATES_J0001+2113
4,CSS110926:000156+065236,0.48205,6.87665,20110926.30,19.35,1109261070014122864,no,12286,yes,2016-11-06,12286,yes,"SN 2011hl SDSS mag 15,7 2MASX_00015920"

In [12]:
transient_lc.head()

transient_lc.ID

0         TranID1409030010044114444
1         TranID1409030010044114444
2         TranID1409030010044114444
3         TranID1409030010044114444
4         TranID1409030010044114444
                    ...
440464    TranID1209190181234125108
440465    TranID1209190181234125108
440466    TranID1209190181234125108
440467    TranID1209190181234125108
440468    TranID1209190181234125108
Name: ID, Length: 440469, dtype: object

In [15]:
def read_lc(path):

    ext = ['.csv','.dat']

    for ex in ext:

        if ex in path:

            data = pd.read_csv(path)


    return data

path = 'features.csv'

dat = read_lc(path=url)
dat.head(10)

                          ID  observation_id      Mag    Magerr           MJD
0  TranID1409030010044114444               0  18.8765  0.166417  53766.089871
1  TranID1409030010044114444               1  20.0519  0.281733  53990.458866
2  TranID1409030010044114444               2  20.2199  0.295764  53996.286004
3  TranID1409030010044114444               3  21.1192  0.495390  54385.205789
4  TranID1409030010044114444               4  19.3289  0.195002  54355.282285
5  TranID1409030010044114444               5  20.5594  0.366624  54715.323492
6  TranID1409030010044114444               6  20.3022  0.318527  54715.329950
7  TranID1409030010044114444               7  21.0141  0.488018  55153.141345
8  TranID1409030010044114444               8  19.8363  0.252095  55893.177949
9  TranID1409030010044114444               9  20.9989  0.487018  56296.081057

In [6]:
read_lc(path='LabelsID.csv',extensions='.csv')

                            Class
# ID
TranID1001061210214137885   Flare
TranID1001061320334228647     HPM
TranID1001080010554115862      CV
TranID1001081010294126339      SN
TranID1001081010294129406      SN
...                           ...
TranID912201230044119403       SN
TranID912201320034112505       SN
TranID912201380044131500   SN/TDE
TranID912201400044136465       SN
TranID912201400354121224       SN

[4869 rows x 1 columns]